<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- http://b-l-east.iteye.com/blog/1123531 -->
	<!-- public base Dao -->
	<bean name="openRDFBaseDao" class="com.openrdf.base.dao.OpenRDFBaseDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- public base Service -->
	<bean name="openRDFBaseService" class="com.openrdf.base.service.OpenRDFBaseService">
		<property name="openRDFBaseDao" ref="openRDFBaseDao"></property>
	</bean>
	<!-- public base Action -->
	<bean name="openRDFBaseAction" class="com.openrdf.base.action.OpenRDFBaseAction">
		<property name="openRDFBaseService" ref="openRDFBaseService"></property>
	</bean>
</beans>
