<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- users dao -->
	<bean id="usersDao" class="com.openrdf.dao.UsersDao" singleton="false">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- users service -->
	<bean id="usersService" class="com.openrdf.service.UsersService" singleton="false">
		<property name="usersDao" ref="usersDao"></property>
	</bean>
	<!-- users action -->
	<bean id="registerUserAction" class="com.openrdf.action.UserAction" singleton="false">
		<property name="usersService" ref="usersService" />
	</bean>
</beans>
