<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- root action -->
	<!-- 跳转注册页面 -->
	<bean id="toRegisterPage" class="com.openrdf.action.base.BaseAction" singleton="false" />
	<!-- 跳转登录页面 -->
	<bean id="toLoginPage" class="com.openrdf.action.base.BaseAction" singleton="false" />
</beans>
