<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- users service -->
	<!-- 
	<bean id="usersService" class="com.**Service" parent="**Service" singleton="false">
	</bean>
	 -->
	<!-- users action -->
	<!-- 
	<bean id="usersAction" class="com.**Action" parent="**" singleton="false">
		<property name="usersService" ref="usersService" />
	</bean>
	 -->
</beans>
